%h3 Editing graph

= render 'form'

= button_to 'Destroy', {:action => :destroy}, :confirm => 'Are you sure?', :class => 'btn btn-danger', :method => :delete

= link_to 'Show', @graph
\|
= link_to 'Back', graphs_path
